 /* Comments */
/* cmd + shift + /  OR ctrl + / */

 /* Element selectors */
/* targets all the matching elements */

 h1 {
    color:purple;
    text-decoration: underline;
 }

 p {
     font-size: 20px;
     font-weight: 700;
 }

/* Class selectors */

.subtitle {
    color: skyblue;
}

/*  ID selectors */
#msg {
    color: green
}

#manish {
    color: brown
}


/* Pseudo Selectors */

h3:hover {
    text-decoration: underline;
    color: red;
}

h3:focus {
    text-decoration: underline;
    color: red;
}

h3:visited {
    text-decoration: underline;
    color: red;
}

p {
    width: 50%;
    color: yellow;
    background-color: tomato;

    /* padding-left: 5px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom: 30px; */

    padding: 10px 2px 30px 5px;
    /* paddting to the Top Right Bottom Left */

    /* padding: 20px 5px; */
    /* 20px to the top and bottom, 5px to left and right */


    margin: 30px;

    border: 2px solid black;
    border-radius: 5px;
}


button {
    color: white;
    background-color: black;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}






 /* Universal selectors */

 /* * {
     color: red;
 } */


 html, body  {
     margin: 0;
     padding: 0;
     /* font-family: 'Cedarville Cursive', cursive; */
     /* font-family: 'Grey Qo', cursive; */
     font-family: sans-serif;
     scroll-behavior: smooth;
 }





header {
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.manish {
    font-size: 30px;
    color: blue;
}